<h1>Select a note to add to collection</h1>

<% @notes.each do |note| %>
  <h3><%= note.title %></h3>
  <%= form_with url: add_note_note_collection_path(@note_collection), method: :post do |f| %>
    <%= f.hidden_field :note_id, value: note.id %>
    <%= f.submit 'Add to collection' %>
  <% end %>
<% end %>
